<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <!--OGP-->
  <meta property="og:title" content="All photographer works" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://portfolio.kentaiwami.jp/portfolio/all_photographer_works/" />
  <meta property="og:image" content="http://portfolio.kentaiwami.jp/media/images/p_work/thumbnail/photo1_thumbnail.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="All photographer works">
  <meta name="twitter:description" content="All photographer works">
  <meta name="twitter:image:src" content="http://portfolio.kentaiwami.jp/media/images/p_work/thumbnail/photo1_thumbnail.jpg">

  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/spinners.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/swipebox.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <!--favicon-->
  <link rel="shortcut icon" type="image/png" href="{% static 'portfolio/img/favicon.ico' %}"/>

  <title>All photographer works</title>

  <script src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'portfolio/js/jquery.typist.min.js' %}"></script>
  <script src="{% static 'portfolio/js/index.js' %}"></script>
  <script src="{% static 'portfolio/js/jquery.swipebox.min.js' %}"></script>

  <script>
  var speed_define = 25;
  var show_title = function() {
    $('#photographer_title').typist({
      speed: speed_define,
      text: 'All photographer works'
    });
  };
  
  jQuery(function() {
    setTimeout(show_title, 1000);
  });
  </script>
</head>

<body>
  <section class="container">  <!--All Photographer Works-->
    <div class="section_title" id="photographer_title"></div>

    <div class="console_area">
      <div class="console_top">Show {{ all_photographer_product_list.count }} photographer works<span class="loading dots2"></span></div>

      <div class="console">
        {% if all_photographer_product_list.count != 0 %}
        <div class="row">
          {% for photo in all_photographer_product_list %}
          <div class="col-md-3">
            <a href="/media/{{ photo.main_image }}" class="swipebox" title="{{ photo.location }} {{ photo.shooting_date|date:'Y/m/d G:i'}}">
              <img class="img_slow" src="/media/{{ photo.thumbnail_image }}">
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </section>


  <script type="text/javascript" src="{% static 'portfolio/js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
  <script>
  $(document).swipebox({
    selector: '.swipebox',
    removeBarsOnMobile: false,
    hideBarsDelay: 5000
  });
  </script>
</body>
</html>