<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <title>Engineer Works</title>

  <script type="text/javascript" src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
</head>

<body>
Engineer Works All
</body>
</html>