<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/spinners.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <title>{{ engineer_product.engineer_product_name }}</title>

  <script type="text/javascript" src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/jquery.typist.min.js' %}"></script>
  <script src="{% static 'portfolio/js/index.js' %}"></script>
  <script>
  var speed_define = 25;
  jQuery(function($) {
    $('#e_work_title').typist({
      speed: speed_define,
      text: 'Engineer Works'
    });
  });

  // 画面内に要素が来た際のアニメーション実施を記述
  var flag = [];
  for (var i = 0; i < 2; i++) {
    flag.push(false);
  }

  $(window).scroll(function () {
    if (flag[0] === false) {
      if (isScrolledIntoView($('#comment_title')) === true) {
        flag[0] = true;
        $('#comment_title').typist({speed: speed_define,text: 'Comment',});
      }
    }

    if (flag[1] === false) {
      if (isScrolledIntoView($('#comment_view_title')) === true) {
        flag[1] = true;
        $('#comment_view_title').typist({speed: speed_define,text: 'Comments View',});
      }
    }
  });

  $(function(){
    $('.content:not(.content:first-of-type)').css('display','none');//一番上の要素以外を非表示
  	$('.more_content').nextAll('.more_content').css('display','none');//ボタンを非表示
  	$('.more_content').on('click', function() {
    	$(this).css('display','none');//押したボタンを非表示
    	$(this).next('.content').slideDown('fast');
    	$(this).nextAll('.more_content:first').css('display','block'); //次のボタンを表示
  	});
  });
  </script>
</head>

<body>
  <section class="container">  <!--Engineer Work Detail-->
    <div class="section_title" id="e_work_title"></div>

    <div class="console_area">
      <div class="console_top">Show {{ engineer_product.engineer_product_alphabet_name }} process<span class="loading dots2"></span></div>

      <div class="console">
        <div class="console_name">{{ engineer_product.engineer_product_name }}</div>
        <div class="console_name">{{ engineer_product.engineer_product_short_concept }}</div>

        {% if engineer_product.col1_image != '' and engineer_product.col2_image != '' %}
        <div class="row">
          <div class="col">
            <div class="console_image"><img class="img-fluid-no-border" src="/portfolio/media/{{ engineer_product.col1_image }}"></div>
          </div>

          <div class="col">
            <div class="console_image"><img class="img-fluid-no-border" src="/portfolio/media/{{ engineer_product.col2_image }}"></div>
          </div>
        </div>
        {% endif %}

        {% if engineer_product.col3_image != '' %}
        <div class="container">
          <div class="console_image"><img class="img-fluid-no-border" src="/portfolio/media/{{ engineer_product.col3_image }}"></div>
        </div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_feature_concept != '' %}
        <div class="console_name">{{ engineer_product_detail.engineer_product_feature_concept }}</div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_feature_detail != '' %}
        <div class="console_text">{{ engineer_product_detail.engineer_product_feature_detail }}</div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_background_concept != '' %}
        <div class="console_name">{{ engineer_product_detail.engineer_product_background_concept }}</div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_background_detail != '' %}
        <div class="console_text">{{ engineer_product_detail.engineer_product_background_detail }}</div>
        {% endif %}

        <div class="console_text_no_before"></div>

        {% if engineer_product_detail.engineer_product_development_environment != '' %}
        <div class="console_text">開発環境：{{ engineer_product_detail.engineer_product_development_environment }}</div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_development_language != '' %}
        <div class="console_text">使用言語：{{ engineer_product_detail.engineer_product_development_language }}</div>
        {% endif %}

        {% if engineer_product_detail.engineer_product_creation_time != '' %}
        <div class="console_text">製作期間：{{ engineer_product_detail.engineer_product_creation_time }}</div>
        {% endif %}

        {% if engineer_product.link != '' %}
        <div class="console_text">URL：<a class="default_link" href="{{ engineer_product.link }}">{{ engineer_product.link }}</a></div>
        {% endif %}

        <div class="console_text_link">
          <a class="link" href="{% url 'portfolio:index' %}#1">
            <div class="box">
              <div class="link_name">Back</div>
              <div class="bd10 bd"><div class="bdT"></div><div class="bdB"></div><div class="bdR"></div><div class="bdL"></div></div>
             </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section class="container">  <!--Comment-->
    <div class="section_title" id="comment_title"></div>
    <div class="console_area">
      <div class="console_top">
        Comment to {{ engineer_product.engineer_product_alphabet_name }} process<span class="loading dots2"></span>
      </div>

      <div class="console">
        <div class="console_text">Name</div>
        <form name="comment_form" method="post" action="{% url 'portfolio:get_comment' %}" onsubmit="click_submit()">
          <div class="console_text_input">
            {% csrf_token %}
            {{ form.name }}
          </div>

          <div class="console_text">Comment</div>
          <div class="console_text_input">
            {% csrf_token %}
            {{ form.comment_text }}
          </div>

          {% csrf_token %}
          <input type="hidden" name="id" value="{{ engineer_product.pk }}">

          <div class="console_text_link" id="submit_btn">
            <div class="box">
              <div class="bd10 bd"><div class="bdT"></div><div class="bdB"></div><div class="bdR"></div><div class="bdL"></div></div>
              <input type="submit" class="submit" value="Submit">
            </div>
          </div>
        </form>

        <div id="submitting_message_area"></div>
      </div>
    </div>
  </section>

  <section class="container" id="3">  <!--CommentView-->
    <div class="section_title" id="comment_view_title"></div>
    <div class="console_area">
      <div class="console_top">Show comments to {{ engineer_product.engineer_product_alphabet_name }} process<span class="loading dots2"></span></div>
        <div class="console">

          {% if comment_list.count == 0 %}
          <div class="console_text">No comments to {{ engineer_product.engineer_product_alphabet_name }}</div>

          {% else %}
          <div class="content">
          {% for comment in comment_list %}

          {% if forloop.counter <= 6 %}
          {% if forloop.counter|divisibleby:"6" %}
          </div>
          <div class="more_content">more</div>
          <div class="content">
          {% endif %}

          {% else %}
          {% if forloop.counter|add:"-6"|divisibleby:"5" %}
          </div>
          <div class="more_content">more</div>
          <div class="content">
          {% endif %}
          {% endif %}

            <div class="console_text_comment_name">{{ comment.name }}さん {{ comment.pub_date }}</div>
            <div class="console_text_comment">{{ comment.comment_text }}</div>
          {% endfor %}
          </div>
          {% endif %}

          <div class="console_text_link">
            <a class="link" href="{% url 'portfolio:index' %}#1">
              <div class="box">
                <div class="link_name">Back</div>
                <div class="bd10 bd"><div class="bdT"></div><div class="bdB"></div><div class="bdR"></div><div class="bdL"></div></div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </section>
</body>
</html>