<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <title>Kenta Portfolio</title>

  <script type="text/javascript" src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>

  <!-- スムーズスクロール部分の記述 -->
    <script>
    $(function(){
    // #で始まるアンカーをクリックした場合に処理
      $('a[href^="#"]').click(function() {
        // スクロールの速度
        var speed = 400; // ミリ秒
        // アンカーの値取得
        var href= $(this).attr("href");
        // 移動先を取得
        var target = $(href == "#" || href == "" ? 'html' : href);
        // 移動先を数値で取得
        var position = target.offset().top;
        // スムーススクロール
        $('body,html').animate({scrollTop:position}, speed, 'swing');
        return false;
      });
    });
    </script>
</head>

<body>
  <section class="cover" id="1">  <!--カバーページ-->
    <div class="title_area">
      <div class="title">Kenta Iwami</div>
      <div class="sub_title">Portfolio</div>
    </div>

    <div class="arrow">
      <a href="#2"><span></span><span></span><span></span>Scroll</a>
    </div>
  </section>

  <section class="container" id="2">
    <div class="section_title">Engineer Worsk</div>
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/masamon/top.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>Masamon</h3>
                <p>表形式のシフトにおさらば</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/sample/sample.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>FiNote</h3>
              <p>オノマトペに着目した映画管理</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/sample/sample.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>App name hoge</h3>
              <p>説明ほげほげする</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/sample/sample.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>App name hoge</h3>
              <p>説明ほげほげする</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/sample/sample.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>App name hoge</h3>
              <p>説明ほげほげする</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure>
            <img src="{% static 'portfolio/img/e_works/sample/sample.png' %}" class="img-fluid" alt="">
            <figcaption>
              <h3>App name hoge</h3>
              <p>説明ほげほげする</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>


    <!--<div class="container">-->
      <!--<div class="starter-template">-->
        <!--<h1>fff starter template</h1>-->
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      <!--</div>-->
    <!--</div>-->
  </section>


  <script type="text/javascript" src="{% static 'portfolio/js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
</body>
</html>