<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <title>Kenta Portfolio</title>

  <script type="text/javascript" src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/jquery.typist.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/index.js' %}"></script>



  <!-- スムーズスクロール部分の記述 -->
  <script>
  $(function(){
    // #で始まるアンカーをクリックした場合に処理
    $('a[href^="#"]').click(function() {
      // スクロールの速度
      var speed = 400; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を数値で取得
      var position = target.offset().top;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
    });
  });
  </script>
  <!-- 画面内に要素が来た際のアニメーション実施を記述 -->
  <script>
  jQuery(function($) {
    $('#title').typist({
      speed: 12,
      text: 'Kenta Iwami',
      cursor: false
    });
    $('#sub_title').typist({
      speed: 12,
      text: 'Portfolio',
    });
  });

  var flag = [];
  for (var i = 0; i < 3; i++) {
    flag.push(false);
  }
  $(window).scroll(function () {
    if (flag[0] == false) {
      if (isScrolledIntoView($('#engineer_title')) == true) {
        flag[0] = true;
        $('#engineer_title').typist({
          speed: 12,
          text: 'Engineer Works',
        });
      }
    }

    if (flag[1] == false) {
      if (isScrolledIntoView($('#photographer_title')) == true) {
        flag[1] = true;
        $('#photographer_title').typist({
          speed: 12,
          text: 'Photographer Works',
        });
      }
    }

    if (flag[2] == false) {
      if (isScrolledIntoView($('#profile_title')) == true) {
        flag[2] = true;
        $('#profile_title').typist({
          speed: 12,
          text: 'Profile',
        });
      }
    }
  });
  </script>
</head>

<body>
  <section class="cover" id="1">  <!--カバーページ-->
    <div class="title_area">
      <div class="title" id="title"></div>
      <div class="sub_title" id="sub_title"></div>
    </div>

    <div class="arrow">
      <a href="#2"><span></span><span></span><span></span>Scroll</a>
    </div>
  </section>

  <section class="container" id="2">  <!--Engineer Works-->
    <div class="section_title" id="engineer_title"></div>
    <div class="container">
      <div class="row">

        {% for product in old_product_list %}
        <div class="col-md-6">
        <!--<div class="col-6">-->
          <a href="{% url 'portfolio:engineer_work_detail' product.pk %}">
          <figure>
            <img src="/media/{{ product.top_image }}" class="img-fluid" alt="">
            <figcaption>
              <h3>{{ product.product_name }}</h3>
              <p>{{ product.product_short_concept }}</p>
            </figcaption>
          </figure>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>

    <a class="engineer_works_more" href="{% url 'portfolio:engineer_works_all' %}">
      <div class="box">
        <div class="engineer_works_more_after">more</div>
        <div class="bd10 bd">
          <div class="bdT"></div>
          <div class="bdB"></div>
          <div class="bdR"></div>
          <div class="bdL"></div>
        </div>
      </div>
    </a>
  </section>

  <section class="container" id="3">  <!--Photographer Works-->
    <div class="section_title" id="photographer_title"></div>
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
        <div class="col-md-3">
          <img class="img-fluid" src="{% static 'portfolio/img/photo.png' %}">
        </div>
      </div>

    </div>
  </section>

  <section class="container" id="4">  <!--Profile-->
    <div class="section_title" id="profile_title"></div>
  </section>

  <!--<div class="textboard">-->
    <!--<p class="test2" >タイプライター風ウィンドウです</p>-->
  <!--</div>-->



  <script type="text/javascript" src="{% static 'portfolio/js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>

</body>
</html>