Django==2.2.4
django-admin-ip-restrictor==1.0.0
django-bootstrap-form==3.4
django-ipware==2.1.0
django-model-utils==3.2.0
djangorestframework==3.10.2
mysql-connector-python==8.0.17
olefile==0.46
pbr==5.4.2
Pillow==6.1.0
protobuf==3.9.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
stevedore==1.30.1
uWSGI==2.0.18
