{% extends "error_base.html" %}

{% block title %}Error 400 Bad Request{% endblock title %}

{% block script %}
    <script>
    var speed_define = 25;
    jQuery(function($) {
      $('#title').typist({
        speed: speed_define,
        text: 'Error 400'
      });
      $('#sub_title_error1').typist({
        speed: speed_define,
        text: '要求の形式が'
      });
      $('#sub_title_error2').typist({
        speed: speed_define,
        text: '正しくありません'
      });
    });
    </script>
{% endblock script %}