{% extends "error_base.html" %}

{% block title %}Error 403 Forbidden{% endblock title %}

{% block script %}
    <script>
    var speed_define = 25;
    jQuery(function($) {
      $('#title').typist({
        speed: speed_define,
        text: 'Error 403'
      });
      $('#sub_title_error1').typist({
        speed: speed_define,
        text: 'ページへのアクセスは'
      });
      $('#sub_title_error2').typist({
        speed: speed_define,
        text: '許可されていません'
      });
    });
    </script>
{% endblock script %}