{% extends "error_base.html" %}

{% block title %}Error 404 not found{% endblock title %}

{% block script %}
    <script>
    var speed_define = 25;
    jQuery(function($) {
      $('#title').typist({
        speed: speed_define,
        text: 'Error 404'
      });
      $('#sub_title_error1').typist({
        speed: speed_define,
        text: 'アクセスしたページは'
      });
      $('#sub_title_error2').typist({
        speed: speed_define,
        text: '見つかりませんでした'
      });
    });
    </script>
{% endblock script %}