{% extends "error_base.html" %}

{% block title %}Error 500 Internal Server Error{% endblock title %}

{% block script %}
    <script>
    var speed_define = 25;
    jQuery(function($) {
      $('#title').typist({
        speed: speed_define,
        text: 'Error 500'
      });
      $('#sub_title_error1').typist({
        speed: speed_define,
        text: 'サーバ内で'
      });
      $('#sub_title_error2').typist({
        speed: speed_define,
        text: 'エラーが発生しました'
      });
    });
    </script>
{% endblock script %}