<!DOCTYPE html>
<html lang=ja>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/spinners.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

    <script type="text/javascript" src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'portfolio/js/jquery.typist.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
  <section class="cover_error">
    <div class="title_area">
      <div class="title_error" id="title"></div>
      <div class="sub_title_error" id="sub_title_error1"></div>
        <div class="sub_title_error" id="sub_title_error2"></div>
    </div>

    <div class="link_error">
      <a class="link_cover_error" href="{% url 'portfolio:index' %}">
        <div class="box">
          Top
          <div class="bd10 bd">
            <div class="bdT"></div>
            <div class="bdB"></div>
            <div class="bdR"></div>
            <div class="bdL"></div>
          </div>
        </div>
      </a>
    </div>
  </section>

</body>
</html>