<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <!--OGP-->
  <meta property="og:title" content="{{ engineer_product.alphabet_name}} Privacy Policy" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://kentaiwami.jp/portfolio/{{ engineer_product.pk}}/pp" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ engineer_product.alphabet_name}} Privacy Policy">
  <meta name="twitter:description" content="{{ engineer_product.alphabet_name}} Privacy Policy">

  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/spinners.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/swipebox.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />

  <!--favicon-->
  <link rel="shortcut icon" type="image/png" href="{% static 'portfolio/img/favicon.ico' %}"/>

  <title>{{ engineer_product.alphabet_name}} Privacy Policy</title>

  <script src="{% static 'portfolio/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'portfolio/js/jquery.typist.min.js' %}"></script>
  <script src="{% static 'portfolio/js/index.js' %}"></script>

  <script>
  let speed_define = 25;
  let show_title = function() {
    $('#privacy_policy_title').typist({
      speed: speed_define,
      text: '{{ engineer_product.alphabet_name }} Privacy Policy'
    });
  };
  
  jQuery(function() {
    setTimeout(show_title, 1000);
  });
  </script>
</head>

<body>
  <section class="container">
    <div class="section_title" id="privacy_policy_title"></div>

    <div class="console_area">
      <div class="console_top">Show {{ engineer_product.alphabet_name }} Privacy Policy<span class="loading dots2"></span></div>

      <div class="console">
        <div class="console_name">収集する情報</div>
          {% for policy in policy_list %}
              <div class="console_text">{{ forloop.counter }}. {{ policy.information }}</div>
          {% endfor %}

        <div class="console_name">情報の使用目的</div>
          {% for policy in policy_list %}
              <div class="console_text">{{ forloop.counter }}. {{ policy.usage }}</div>
          {% endfor %}
      </div>

      <div class="console_text">更新日：{{latest|date:'Y-m-d'}}</div>

      <div class="console_text_link">
          <a class="link" href="{% url 'portfolio:contact' %}">
              <div class="box">
                  <div class="link_name">Contact</div>
                  <div class="bd10 bd"><div class="bdT"></div><div class="bdB"></div><div class="bdR"></div><div class="bdL"></div></div>
              </div>
          </a>
      </div>
    </div>
  </section>


  <script type="text/javascript" src="{% static 'portfolio/js/tether.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
</body>
</html>