asgiref==3.2.3
Django==2.2.9
django-admin-ip-restrictor==2.1.1
django-bootstrap-form==3.4
django-environ==0.4.5
django-ipware==2.1.0
django-model-utils==4.0.0
djangorestframework==3.11.0
dnspython==1.16.0
mysql-connector-python==8.0.19
olefile==0.46
pbr==5.4.4
Pillow==7.0.0
protobuf==3.6.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
stevedore==1.31.0
uWSGI==2.0.18
