asgiref==3.2.10
Django==2.2.21
django-admin-ip-restrictor==2.1.1
django-bootstrap-form==3.4
django-environ==0.4.5
django-ipware==2.1.0
django-model-utils==4.0.0
djangorestframework==3.11.1
importlib-metadata==1.7.0
mysqlclient==2.0.1
olefile==0.46
pbr==5.5.0
Pillow==7.2.0
protobuf==3.13.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
stevedore==3.2.2
uWSGI==2.0.19.1
zipp==3.1.0
