asgiref==3.2.7
Django==2.2.9
django-admin-ip-restrictor==2.1.1
django-bootstrap-form==3.4
django-environ==0.4.5
django-ipware==2.1.0
django-model-utils==4.0.0
djangorestframework==3.11.0
mysqlclient==1.4.6
olefile==0.46
pbr==5.4.5
Pillow==7.1.2
protobuf==3.12.2
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
stevedore==2.0.0
uWSGI==2.0.18
