/*************** Globals ***************/
html,
body {
  height: 100%;
  background-color: #000;
}

body {
  color: #FFF;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

@font-face {
  font-family: "MyFont";
  src: url(font/SourceHanSans-Light.otf)
}


/************************************************************
                          view.index
************************************************************/
/*************** section1(cover) ***************/
.cover {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: block;
  background-color: #000;
}

.title_area {
  margin: auto;
  width: 85%;
  height: auto;
  text-align: left;
  display: block;
  padding: 5vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 0.5vmin;
  font-family: "MyFont";
  font-size: 10vmin;
}

.sub_title:before, .sub_title_error:before, .title:before , .title_error:before,
.section_title:before, .console_top:before, .console_text:before,
.console_name:before, .link_name:before {
  content: "$ ";
}

/* Scrollの文字と矢印 */
.arrow {
  position: absolute;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-top: 80px;
  font-family: "MyFont";
  font-size: 8vmin;

  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px dotted #fff;
  border-bottom: 2px dotted #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*************** section2(Engineer Works) ***************/
/* section1にて擬似要素の追加 */
.section_title {
  width: 100%;
  font-family: "MyFont";
  font-size: 10vmin;
  margin: 2.5rem 0rem;
}

.col-md-6 {
  margin: .75rem 0;
}
.img-fluid {
  width: 100%;
  height: 100%;
  border: 2px solid;
  padding: .5rem;
  object-fit: contain;
}

/*他セクションで使用*/
.img-fluid-no-border {
  width: 100%;
  height: 100%;
  padding: .5rem;
  object-fit: contain;
}

figure {
  max-width: 80.9vmin;
  position: relative;
  height: 35vmin;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  display: block;
}
figcaption {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
  margin: 0 auto;
  padding-top: 10vmin;
  font-size: 3vmin;
  font-family: "MyFont";
}

figcaption p {
  margin: 5vmin;
}

figure:hover figcaption {
  top: 0;
  left: 0;
}

/* more用 */
.link:hover {
  opacity: 1.0;
}
.box {
  font-family: "MyFont";
  font-size: 5vmin;
  padding: 0rem 2rem;
  margin-top: 2.5rem;
  text-align: center; 
  position: relative;
  display: inline-block;
}
.bd div {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 1px;
}
.bd div.bdT {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.bd div.bdB{
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
}
.bd div.bdR {
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
}
.bd div.bdL {
  height: 100%;
  width: 1px;
  left: 0;
  bottom: 0;
}

.bd10 div {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.box:hover .bd10 div.bdT {
  width: 1px;
  height: 1px;
}
.box:hover .bd10 div.bdB {
  width: 1px;
  height: 1px;
}
.box:hover .bd10 div.bdR {
  width: 1px;
  height: 1px;
}
.box:hover .bd10 div.bdL {
  width: 1px;
  height: 1px;
}


/*************** section3(Photographer Works) ***************/
.col-md-3 {
  margin: .75rem 0;
}


/*************** section4(Profile) ***************/
.console_area {
  background-color: #111;
  width: 100%;
  border: 1px solid #FFF;
  display: inline-block;
  font-family: "MyFont";
  font-size: 3vmin;
  text-align: left;
}

/* section1にてbefore擬似要素を追加 */
.console_top {
  border-bottom: 1px solid #FFF;
  display: inline-block;
  width: 100%;
  height: auto;
  padding-left: 10px;
  text-align: center;
}

.console {
  padding: 10px;
}

.console_image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5vmin;
  margin-top: 5vmin;
}


/* section1にてbefore擬似要素を追加 */
.console_name {
  padding-top: 5vmin;
  font-size: 5vmin;
}

.console_text_link {
  text-align: center;
}


/************************************************************
                  view.engineer_work_detail
************************************************************/
.default_link {
  text-decoration: underline;
}

.default_link:hover {
  text-decoration: underline;
}


/************************************************************
                      各種エラーページ
************************************************************/
.link_cover_error:hover {
  opacity: 1.0;
  color: #0F0;
}

.link_cover_error {
  color: #0F0;
}

.link_error {
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  color: #0F0;
}

.cover_error {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: block;
  color: #0F0;
  display: inline-block;
}

/*section1にて擬似要素追加*/
.sub_title_error {
  font-size: 6.5vmin;
}



/*************** @media ***************/
@media screen and (max-width: 1200px) {
  /* coverのスクロール促し */
  .arrow {
    font-size: 5vmin;
  }
}

@media screen and (max-width: 700px) {
  /* coverのスクロール促し */
  .arrow {
    font-size: 7vmin;
  }
  /* Engineer Worksのグリッド */
  .col-md-6 {
    margin: .75rem;
  }
}

@media screen and (max-width: 330px) {
  /* coverのスクロール促し */
  .arrow {
    font-size: 9vmin;
  }
  /* Engineer Worksのグリッド */
  .col-md-6 {
    margin: .75rem;
  }
}